<include file="Public:head"/>
        <div class="x-body">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label for="L_name" class="layui-form-label">
                        <span class="x-red">*</span>商户名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_name" name="name" required="" lay-verify="nickname"
                        autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        代理商家标识
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_username" class="layui-form-label">
                        <span class="x-red">*</span>账号
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_username" name="username" required="" lay-verify="username"
                        autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        代理商家后台登录账号
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_pass" class="layui-form-label">
                        <span class="x-red">*</span>密码
                    </label>
                    <div class="layui-input-inline">
                        <input type="password" id="L_pass" name="password" required="required" lay-verify="pass"
                        autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        代理商家后台登录密码，6到16个字符
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_domain" class="layui-form-label">
                        <span class="x-red">*</span>域名/IP
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_domain" name="domain" required="" lay-verify="required"
                        autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        商家系统绑定的域名
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_port" class="layui-form-label">
                        <span class="x-red">*</span>端口
                    </label>
                    <div class="layui-input-inline">
                        <input type="number" id="L_port" name="port" required="" lay-verify="port"
                               autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        0-65535之间的整数
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_rate" class="layui-form-label">
                        <span class="x-red">*</span>费率
                    </label>
                    <div class="layui-input-inline">
                        <input type="number" id="L_rate" name="rate" required="required" lay-verify="rate"
                               autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        整数，千分之一则写1
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_contact" class="layui-form-label">
                        联系方式
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_contact" name="contact" required=""
                               autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        代理联系方式
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_remark" class="layui-form-label">
                        备注
                    </label>
                    <div class="layui-input-inline">
                        <textarea type="text" id="L_remark" name="remark" required="required"
                                  autocomplete="off" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="add" lay-submit="">
                        增加
                    </button>
                </div>
            </form>
        </div>
        <script>
            layui.use(['form','layer'], function(){
                $ = layui.jquery;
              var form = layui.form()
              ,layer = layui.layer;
            
              //自定义验证规则
              form.verify({
                nickname: function(value){
                  if(value.length < 2){
                    return '商户名至少得2个字符啊';
                  }
                }
                ,username: [/^[A-Za-z0-9]{3,12}$/, '账号必须3到12位,允许大小写字母和数字']
                ,pass: [/^[A-Za-z0-9]{6,16}$/, '密码必须6到16位,允许大小写字母和数字']
                ,port: [/^([0-9]|[1-9]\d{1,3}|[1-5]\d{4}|6[0-4]\d{4}|65[0-4]\d{2}|655[0-2]\d|6553[0-5])$/, '端口必须为0到65535之间的整数']
                ,rate: [/^[1-9][0-9]{0,2}$/, '费率必须为1到999之间的整数']
              });

              //监听提交
              form.on('submit(add)', function(data){
                console.log(data);
                //发异步，把数据提交给php
                  $.ajax({
                      type:"post",
                      data:data.field,
                      success:function (data) {
                          if(data.success){
                              layer.alert("增加成功", {icon: 6},function () {
                                  // 获得frame索引
                                  window.parent.history.go(0);
                                  var index = parent.layer.getFrameIndex(window.name);
                                  //关闭当前frame
                                  parent.layer.close(index);
                              });
                          }else{
                              layer.msg(data.msg, {icon: 2});
                          }
                      }
                  })

                return false;
              });
              
              
            });
        </script>
    <include file="Public:foot"/>