<include file="Public:head"/>
        <div class="x-body">
            <form class="layui-form">
                <input type="hidden" name="id" value="{$user.id}">
                <div class="layui-form-item">
                    <label for="L_name" class="layui-form-label">
                        <span class="x-red">*</span>会员名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_name" name="name" required="" lay-verify="nickname" disabled
                        autocomplete="off" class="layui-input" value="{$user.name}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_rate" class="layui-form-label">
                        <span class="x-red">*</span>邮箱
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_rate" name="mail" required="required" lay-verify="required"
                               autocomplete="off" class="layui-input" value="{$user.mail}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_contact" class="layui-form-label">
                        <span class="x-red">*</span>密码
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_contact" name="pwd" required="required" lay-verify="required"
                               autocomplete="off" class="layui-input" value="{$user.pwd}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_remark" class="layui-form-label">
                        签名
                    </label>
                    <div class="layui-input-inline">
                        <textarea type="text" id="L_remark" name="remark" required="required"
                                  autocomplete="off" class="layui-textarea">{$user.remark}</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="add" lay-submit="">
                        保存
                    </button>
                </div>
            </form>
        </div>
        <script>
            layui.use(['form','layer'], function(){
                $ = layui.jquery;
              var form = layui.form()
              ,layer = layui.layer;
            
              //自定义验证规则

              //监听提交
              form.on('submit(add)', function(data){
                console.log(data);
                //发异步，把数据提交给php
                  $.ajax({
                      type:"post",
                      data:data.field,
                      success:function (data) {
                          if(data.success){
                              layer.alert("修改成功", {icon: 6},function () {
                                  // 获得frame索引
                                  window.parent.history.go(0);
                                  var index = parent.layer.getFrameIndex(window.name);
                                  //关闭当前frame
                                  parent.layer.close(index);
                              });
                          }else{
                              layer.msg(data.msg, {icon: 2});
                          }
                      }
                  })

                return false;
              });
              
              
            });
        </script>
    <include file="Public:foot"/>