<include file="Public:head"/>
        <div class="x-body">
            <div class="pd-20">
              <table  class="layui-table" lay-skin="line">
                <tbody>
                  <tr>
                    <th  width="80">昵称：</th><td>{$user.name}</td>
                  </tr>
                  <tr>
                    <th>邮箱：</th><td>{$user.mail}</td>
                  </tr>
                  <tr>
                    <th>账号：</th>
                    <td>{$user.user}</td>
                  </tr>
                  <tr>
                    <th>密码：</th>
                    <td>{$user.pwd}</td>
                  </tr>
                  <tr>
                    <th>余额：</th>
                    <td>{$user.coin}</td>
                  </tr>
                  <tr>
                    <th>最后IP：</th>
                    <td>{$user.lastip}</td>
                  </tr>
                  <tr>
                    <th>最后登录：</th>
                    <td>{:date('Y-m-d H:i:s',$user[lasttime])}</td>
                  </tr>
                  <tr>
                      <th>注册时间：</th>
                      <td>{:date('Y-m-d H:i:s',$user[createtime])}</td>
                  </tr>
                  <tr>
                    <th>签名：</th>
                    <td>{$user.remark}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
<include file="Public:foot"/>