<include file="Public:head"/>
        <div class="x-body">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label for="username" class="layui-form-label">
                        <span class="x-red">*</span>登录名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="username" name="username" required="" lay-verify="username"
                        autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red">*</span>将会成为您唯一的登入名
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_pass" class="layui-form-label">
                        <span class="x-red">*</span>密码
                    </label>
                    <div class="layui-input-inline">
                        <input type="password" id="L_pass" name="password" required="" lay-verify="pass"
                               autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        6到16个字符
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="role" class="layui-form-label">
                        <span class="x-red">*</span>角色
                    </label>
                    <div class="layui-input-inline">
                      <select name="role" id="role" required="" lay-verify="role">
                        <option value="">请选择角色</option>
                        <foreach name="role" item="vo">
                            <option value="{$vo.id}">{$vo.name}</option>
                        </foreach>
                      </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                        <span class="x-red">*</span>备注
                    </label>
                    <div class="layui-input-inline">
                        <textarea type="text" id="L_repass" name="remark" required="" autocomplete="off" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="add" lay-submit="">
                        增加
                    </button>
                </div>
            </form>
        </div>
        <script>
            layui.use(['form','layer'], function(){
                $ = layui.jquery;
              var form = layui.form()
              ,layer = layui.layer;
            
              //自定义验证规则
              form.verify({
                username: [/^[A-Za-z0-9]{3,12}$/, '账号必须3到12位,允许大小写字母和数字']
                ,pass: [/^[A-Za-z0-9]{6,16}$/, '密码必须6到16位,允许大小写字母和数字']
                ,role: function(value){
                      if(value.length < 1){
                          return '请选择角色';
                      }
                }
              });

              //监听提交
              form.on('submit(add)', function(data){
                console.log(data);
                $.ajax({
                    type:"post",
                    data:data.field,
                    success:function (data) {
                        if (data.success){
                            layer.alert("增加成功", {icon: 6},function () {
                                // 获得frame索引
                                window.parent.history.go(0);
                                var index = parent.layer.getFrameIndex(window.name);
                                //关闭当前frame
                                parent.layer.close(index);
                            });
                        } else{
                            layer.alert(data.msg, {icon: 2});
                        }
                    }
                })

                return false;
              });
              
              
            });
        </script>
        <include file="Public:foot"/>