<include file="Public:head"/>
        <div class="x-body">
            <div class="pd-20">
              <table  class="layui-table" lay-skin="line">
                <tbody>
                  <tr>
                    <th  width="80">商户名：</th><td>{$user.name}</td>
                  </tr>
                  <tr>
                    <th>联系方式：</th><td>{$user.contact}</td>
                  </tr>
                  <tr>
                    <th>域名/IP：</th>
                    <td>{$user.ip}</td>
                  </tr>
                  <tr>
                    <th>端口：</th>
                    <td>{$user.port}</td>
                  </tr>
                  <tr>
                    <th>账号：</th>
                    <td>{$user.usr}</td>
                  </tr>
                  <tr>
                    <th>费率：</th>
                    <td>{$user['rate']*1000}‰</td>
                  </tr>
                  <tr>
                    <th>累计充值：</th>
                    <td>{$user.balance_true}</td>
                  </tr>
                  <tr>
                      <th>余额：</th>
                      <td>{$user.balance}</td>
                  </tr>
                  <tr>
                    <th>订单总额：</th>
                    <td>{$user.orderAmount}</td>
                  </tr>
                  <tr>
                    <th>总手续费：</th>
                    <td>{$user['orderAmount']*$user['rate']}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
<include file="Public:foot"/>